.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

// Vertical Divider
.divider {
  border-left: 3px solid #1a1a1a;
  border-radius: 100px;
  height: 90vh;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
