:host {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

table {
  width: 80%;
  font-size: large;
}

td {
  text-align: center;
}

thead {
  text-transform: uppercase;
  padding: 4px;
  font-weight: bold;
}
